absl-py
anaconda
astor
autopep8
backcall
cycler
decorator
gast
google-pasta
grpcio
h5py
ipython
ipython-genutils
jedi
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pycodestyle
Pygments
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
sklearn
tensorboard
tensorflow
tensorflow-estimator
termcolor
traitlets
wcwidth
Werkzeug
wrapt
